<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>



<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.password_hash %></td><td>
<%= image_tag user.avatar.url, :class => "style_image" %></td>
    <td><%= link_to 'Show', user %></td>
    <% if user=@current_user || @current_user.isadmin %>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>






<br />

<%= link_to 'New User', "/new_user" %>

<%= link_to 'Home', root_path %>
